.container {
    border-radius: 35px;
    background-color: #ffffff;
    margin-top: 20px;
    padding-left: 0;
    display: flex;
    width: 100%;
}


.logo_first_txt{
    display: flex;
    justify-content: space-between;
}



li {
    list-style: none;
    margin-top: 20px;
}

body {
    background-color: #cbfdf9;
}

.navigator {
    background-color: #2b99f3;
    width: 25%;
    border-radius: 30px;
    font-size: 22px;
    padding-bottom: 30px;
    text-align: left;
    padding-top: 30px;
    padding-left: 12px;

}

.x{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.x a{
    color: rgb(255, 252, 208);
    text-decoration: none;
}
.x a:hover{
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.navigator a {
    color: rgb(255, 252, 208);
    text-decoration: none;
    transition: all 1s;
}

.navigator a:hover {
    color: #000000;
}

.link_active a {
    color: #0004ff;
    font-weight: bold;
}

.link_active a:hover {
    color: #e5ff00;
}

.navigator ul {
    padding-left: 0;
}

.content {
    padding: 40px;
    width: 100%;
}


.profile {

    display: flex;
}


.photo_profile {
    width: 180px;
}

.photo_profile img {
    border-radius: 10px;
    width: 180px;
}

.about_person {
    width: auto;
    padding-left: 25px;
}

.fio {
    font-size: 32px;
    font-weight: bold;
}

.position_and_subdivision {
    font-size: 17px;
    color: #6c7173;
    margin-top: 5px;
}

.about {
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
}


.indicators {
    display: flex;
}

.per img {
    max-width: 60px;
}

.per {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 40px;
    font-size: 18px;
}

.main_quest {
    margin-top: 20px;
    font-size: 17px;
}


.main_quest span {
    font-weight: bold;
    font-size: 17px;
    color: #022f5d;
}

.all_tasks {
    margin-top: 10px;
}

.task {
    margin-top: 15px;
    background-color: #7700ff;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 9px;
}

.bottom_part {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.name {
    margin-bottom: 5px;
}

.about_quests {
    display: flex;
    justify-content: space-between;
}

.left-block {
    width: 60%;
    margin-right: 10px;
}

.right-block {
    width: 40%;
    margin-left: 10px;
    margin-top: 20px;
}

.progress_block {
    border-radius: 10px;
    border: 1px solid grey;
    padding: 7px;
    background-color: #fffefe;
}

.container_for_balls {
    display: flex;
    justify-content: space-evenly;
}

.container_for_achieve {
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 20px;
}

.achieve_text {
    padding-left: 7px;
}

.block {
    width: 120px;
    height: 120px;
    margin-bottom: 30px;
    margin-top: 10px;
    background-color: #1c7430;
    border-radius: 100px;
}

@media (max-width: 991px) {
    .navigator {
        font-size: 16px;
        min-width: 180px;
    }

    .fio {
        font-size: 20px;
    }

    .container {
        max-width: 730px;
    }

    .photo_profile img {
        border-radius: 10px;
        width: 100px;
    }

    .per {
        margin-right: 10px;
        font-size: 10px;
    }

    .per img {
        max-width: 30px;
    }

    .block {
        width: 60px;
        height: 60px;

    }
}